.flag-symbol {
    font-size: 50px; /* Adjust the size as needed */
    width: 48px;
    height: 48px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center the image both horizontally and vertically */
    background-color: #171717; /* Fallback background color */
}

.header {
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
    padding : 15px;
    margin: 15px;
    /*background: transparent;*/
    background: linear-gradient(to bottom, black, #242323);
}

.header h1 {
    font-size: 36px; /* Adjust the font size as needed */
    color: whitesmoke; /* Text color */
}

.container {
    max-width: 750px;
    height: 350px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 60px;
    background: linear-gradient(to bottom, black, #242323);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #333;
}

#right-container {
    float: left; /* Float the container to the right */
    margin-top: -490px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 1000px;
    width: 425px; /* Adjust the width as needed */
    background: linear-gradient(to bottom, black, #242323);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #333;
}

/* Style for content inside the new container */
#right-container h1 {
    color: #333;
}

.transfer-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Increase the font size to change the symbol size */
}


.prediction-box {
    background-color: #242323;
    border: 1px solid #ccc;
    height: 50px;
    width: 308px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: #ebe6e6;
}

#from-prediction {
    background-color: #242323;
    border: 1px solid #ccc;
    height: 50px;
    width: 296px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: #ebe6e6;
}

#to-prediction {
    background-color: #242323;
    border: 1px solid #ccc;
    height: 50px;
    width: 296px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    color: #ebe6e6;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

.select-row {
    display: flex;
    justify-content: space-between;
}

.select-box {
    flex: 1;
    margin-right: 10px;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

/* Style the form elements */
select{
    width: 90%; /* Full width for select boxes */
    padding: 15px; /* Increase the padding for increased height */
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #242323;
    font-size: 18px;
    color: #ebe6e6;
}

input[type="date"] {
    width: 300px; /* Full width for select boxes */
    padding: 15px; /* Increase the padding for increased height */
    height: 50px;
    margin-top: 60px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #242323;
    font-size: 18px;
    color: #ebe6e6;
}

