<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <form method="POST" action="/convert">
            <div class="select-row">
                <div class="select-box">
                    <select name="from_currency" id="from_currency">
                        {% for currency in currencies_from %}
                            <option value="{{ currency }}">{{ currency }} <span class="flag-symbol">{{ get_flag_symbol(currency) }}</span></option>
                        {% endfor %}
                    </select>
                    <div id="from-prediction" class="prediction-box" style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center;">
                        1<!-- Predicted value for 'to_country' goes here -->
                    </div>
                </div>
                <div class="transfer-symbol">
                    <!-- You can use an arrow character (→) as an HTML entity -->
                    <span style="color: white;">&#8644;</span>
                </div>
                <div class="select-box">
                    <select name="to_currency" id="to_currency">
                        {% for currency in currencies_to %}
                            <option value="{{ currency }}">{{ currency }} <span class="flag-symbol">{{ get_flag_symbol(currency) }}</span></option>
                        {% endfor %}
                    </select>
                    <div id="to-prediction" class="prediction-box" style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center;">
                        1<!-- Predicted value for 'to_country' goes here -->
                    </div>
                </div>
            </div>
            <input type="date" name="date" id="date" value="{{ current_date }}">
            <br>
        </form>
    </div>
    <div class="container" id="right-container">
        <div id="currency-graph">
            
        </div>
    </div>

    <div class="container" id = "down-container">
        <div id='name' style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center; color : white;">
            
        </div>
        <br></br>
        <form method="POST" action="/convert">
            <div class="select-row">
                <div class="select-box">
                    <div id="selected-to-prediction" class="prediction-box" style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center; ">
                        
                    </div>
                    <div id="selected-to" class="prediction-box" style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center;">
                        
                    </div>
                </div>
                <div class="transfer-symbol">
                    
                    <span style="color: white;">&#8644;</span>
                </div>
                <div class="select-box">
                    <div id="selected-from-prediction" class="prediction-box" style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center;">
                        
                    </div>
                    <div id="selected-from" class="prediction-box" style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center;">
                        
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container" id="right-down-container">
        <div id='fromto' style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center; color : white;">
            
        </div>
        <br></br>
        <div id="currency-graph">
            <div class="select-box">
                <input type="number" id="from-convert" name="from-convert" placeholder="Enter an integer" min="1" value="10" style="font-size: 24px;">
                <div id="to-convert" class="prediction-box" style="font-family: 'Arial', sans-serif; font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center;">
                    
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
